@media(max-width:40rem){
    html{
        font-size: 45%;
    }

    .insert-btn{
        position: absolute;
    }

    .input{
        margin-bottom: 3.2rem;
    }

    .result-part{
        margin-top: 48px;
        margin-bottom: 0;
    }

    .line{
        position: relative;
    }
}

@media(max-width: 28rem){
    html{
        font-size: 35%;
    }
}